In [4]:
import pandas as pd

#Make sure that the location of this notebook is the same as where Transportation.csv is located. For example, my
#Transportation.csv file and MLWorkshop jupyter notebook are both located in my Desktop


#Converts data given into a data frame (looks like an excel sheet)
data = pd.read_csv("Transportation.csv")

#Divides data into input and output
inputData = data.drop(columns = ["Transportation"])
outputData = data["Transportation"]

outputData

#To run a cell, you can either click on the run button or press cmd+E (mucn faster)

0      Bus
1      Bus
2      Bus
3    Train
4      Car
5      Car
6    Train
7      Bus
8    Train
9      Car
Name: Transportation, dtype: object

In [5]:
#ML algorithms usually take in integers as inputs. Decision Trees require inputs to be integers. In this cell, we're
#converting all input columns which are strings into integers (Gender, Travel Cost, and Income Level)

from sklearn.preprocessing import LabelEncoder

gender = LabelEncoder()
travelCost = LabelEncoder()
incomeLevel = LabelEncoder()

inputData["Gender"] = gender.fit_transform(inputData["Gender"])
inputData["Travel Cost"] = travelCost.fit_transform(inputData["Travel Cost"])
inputData["Income Level"] = incomeLevel.fit_transform(inputData["Income Level"])

inputData

   Gender  Car Ownership  Travel Cost  Income Level
0       1              0            0             1
1       1              1            0             2
2       1              1            0             2
3       1              0            2             2
4       2              2            1             2
5       0              2            1             0
6       0              1            0             2
7       0              0            0             1
8       0              1            2             2
9       0              1            1             0

In [7]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(inputData, outputData)


#Male, 0, Standard, Medium
predictions = model.predict([[1,0,2, 2]])

predictions

array(['Train'], dtype=object)

array(['Bus'], dtype=object)