In [4]:
import pandas as pd

data = pd.read_csv("Transportation.csv")

inputData = data.drop(columns = ["Transportation"])
outputData = data["Transportation"]

inputData

   Gender  Car Ownership Travel Cost Income Level
0    Male              0       Cheap          Low
1    Male              1       Cheap       Medium
2    Male              1       Cheap       Medium
3    Male              0   Standard        Medium
4   Male               2   Expensive       Medium
5  Female              2   Expensive         High
6  Female              1       Cheap       Medium
7  Female              0       Cheap          Low
8  Female              1   Standard        Medium
9  Female              1   Expensive         High

In [7]:
from sklearn.preprocessing import LabelEncoder

gender = LabelEncoder()
travelCost = LabelEncoder()
incomeLevel = LabelEncoder()

inputData["Gender"] = gender.fit_transform(inputData["Gender"])
inputData["Travel Cost"] = travelCost.fit_transform(inputData["Travel Cost"])
inputData["Income Level"] = incomeLevel.fit_transform(inputData["Income Level"])

inputData

   Gender  Car Ownership  Travel Cost  Income Level
0       1              0            0             1
1       1              1            0             2
2       1              1            0             2
3       1              0            2             2
4       2              2            1             2
5       0              2            1             0
6       0              1            0             2
7       0              0            0             1
8       0              1            2             2
9       0              1            1             0